### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule zarzadzaj-swoim-budzetem index.php
RewriteRule zaloguj-sie signIn.php
RewriteRule zarejestruj-sie signUp.php
RewriteRule dodaj-przychod addIncome.php
RewriteRule dodaj-wydatek addExpense.php
RewriteRule przegladaj-bilans showTheBalance_ThisMonth.php
RewriteRule poprzedni-miesiac showTheBalance_PreviousMonth.php
RewriteRule ten-rok showTheBalance_ThisYear.php
RewriteRule wybrany-okres showTheBalance_Custom.php
RewriteRule zmien-ustawienia settings.php
RewriteRule wyloguj logout.php
RewriteRule kontakt-programista kontakt.php
RewriteRule menu-uzytkownika userMenu.php
