body {
    background-color: #273033;
    color: #fff;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    margin: 0 !important;
}

.logo {
    font-size: 48px;
}

.logotext {
    text-shadow: -1px 0 #3361F5, 0 1px #3361F5, 1px 0 #3361F5, 0 -1px #3361F5;
}

.walletspage {
    text-align: center;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #384D93;
    margin: 20px;
}

q:lang(pl) {
    quotes: "\201E""\201D""\201A""\2019"
}

q:before {
    content: open-quote
}

q:after {
    content: close-quote
}

.walletspage p {
    text-align: justify;
}

.tile {
    font-size: 22px;
    width: 100%;
    border: 5px solid #384d93;
    border-radius: 10px;
}

.rectangle {
    text-align: center;
}

h2 {
    font-size: 36px;
    border-top: 2px dashed #384D93;
    border-bottom: 2px dashed #384D93;
    text-align: center;

}

.wrapper1 {
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background-color: #77d42a;
    border-radius: 6px;
    border: 1px solid #268a16;
    cursor: pointer;
    color: #306108;
    font-weight: bold;
    padding: 14px 23px;
    margin: 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #aade7c;
}

.wrapper1:hover {
    background-color: #5cb811;
}

.wrapper1:active {
    position: relative;
    top: 1px;
}

#login {

    color: #306108;
    font-size: 28px;
    background-color: transparent;
    border: 0;
}

.wrapper2 {
    box-shadow: inset 0px 1px 0px 0px #E19F7E;
    background-color: #DB713A;
    border-radius: 6px;
    border: 1px solid #A8552C;
    cursor: pointer;
    color: #5C4133;
    font-weight: bold;
    padding: 14px 23px;
    margin: 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #5C2F18;
}

.wrapper2:hover {
    background-color: #BF5526;
}

.wrapper2:active {
    position: relative;
    top: 1px;
}


#logout {

    color: #5C4133;
    font-size: 28px;
    background-color: transparent;
    border: 0;
}

.wrapperForm {
    border: 2px solid #384d93;
    border-radius: 5px;
    background-color: #efefef;
    color: #666;
    text-align: left;
}

/*.wrapperForm > .error{
    color: red !important;
    font-size: 75% !important;
    text-align: left !important;
}*/

.wrapperForm > label {
    margin-top: 5px;
    background-color: transparent;

}

.wrapperForm > label > input {
    border: 1px dashed #384d93;
    font-size: 90%;

}

nav {
    min-height: 58px;
    border-top: 1px solid #3361F5;
    border-bottom: 1px solid #3361F5;
}

.bg-nav-Wallet {
    background-color: #384D93;
}

nav a:link {
    color: #ffffff;
    text-decoration: none;
}

nav a:visited {
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    color: #2084c2;
}

.dropdown-menu {
    background-color: #384D93;
    border: none;
}

.dropdown-menu a:link {

    color: #ffffff;
    text-decoration: none;
}

.dropdown-menu a:visited {
    color: #ffffff;
    text-decoration: none;
}

.dropdown-menu a:hover {
    color: #2084c2;
    background-color: #384D93;
}

 .divider {
    border: 1px dashed #fff;
}

.tileMenu {
    padding: 10px;
    font-size: 26px;
    width: 100%;
    border: none;
    border-radius: 10px;
}

#menuTile1 {
    background-color: #10A14A;
    border-radius: 10%;
    padding: 15% 25%;
}

#menuTile1:hover {
    background-color: #2084c2;
    cursor: pointer;
}

.icon-calendar-plus-o,
.menuButton1 {
    color: #0A612D;
    background-color: transparent;
    border: 0;
}

#menuTile2 {
    background-color: #108A86;
    border-radius: 10%;
    padding: 15% 25%;
}

#menuTile2:hover {
    background-color: #2084c2;
    cursor: pointer;
}

.icon-calendar-minus-o,
.menuButton2 {
    color: #094A48;
    background-color: transparent;
    border: 0;
}

#menuTile3 {
    background-color: #00D4CD;
    border-radius: 10%;
    padding: 15% 25%;
}

#menuTile3:hover {
    background-color: #2084c2;
    cursor: pointer;
}

.icon-calc,
.menuButton3 {
    color: #00948F;
    background-color: transparent;
    border: 0;
}

#menuTile4 {
    background-color: #D400A8;
    border-radius: 10%;
    padding: 15% 25%;
}

#menuTile4:hover {
    background-color: #2084c2;
    cursor: pointer;
}

.icon-cogs,
.menuButton4 {
    color: #940076;
    background-color: transparent;
    border: 0;
    margin: 0;
}

#menuTile5 {
    background-color: #AC3C5D;
    border-radius: 10%;
    padding: 15% 25%;
}

#menuTile5:hover {
    background-color: #2084c2;
    cursor: pointer;
}

.icon-logout,
.menuButton5 {
    color: #6B253A;
    background-color: transparent;
    border: 0;
}

.wrapperAccept {
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background-color: #77d42a;
    border-radius: 6px;
    border: 1px solid #268a16;
    cursor: pointer;
    color: #306108;
    font-weight: bold;
    padding: 14px 23px;
    margin: 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #aade7c;
}

.wrapperAccept:hover {
    background-color: #148012;
}

.wrapperAccept:active {
    position: relative;
    top: 1px;
}

.wrapperAccept > .dodaj {
    color: #004000;
    background-color: transparent;
    border: 0;
}

.wrapperAccept > .icon-calendar-plus-o {
    color: #004000;
    background-color: transparent;
    border: 0;
}

.wrapperCancel {
    box-shadow: inset 0px 1px 0px 0px #FF2222;
    background-color: #E61E1E;
    border-radius: 6px;
    border: 1px solid #400808;
    cursor: pointer;
    color: #400808;
    font-weight: bold;
    padding: 14px 23px;
    margin: 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #BF1919;
}

.wrapperCancel:hover {
    background-color: #801111;
}

.wrapperCancel:active {
    position: relative;
    top: 1px;
}

.wrapperCancel > .anuluj {
    color: #400808;
    background-color: transparent;
    border: 0;
}

.tileIncomes {
    float: left;
    border: 4px solid #384d93;
    background-color: #10A14A;
    border-radius: 10px;
    padding: 5px;

}

.tileExpenses {
    float: left;
    border: 4px solid #384d93;
    background-color: #108A86;
    border-radius: 10px;
    padding: 5px;
}

table {
    width: 100%;
    border: 2px ridge #384d93;
    margin-bottom: 0px;
}

.firstTr {
    background-color: #3361F5;
    border-bottom: 2px ridge #384d93;
}

tr {
    border: 1px dashed #384d93;
}

.incomeTr:hover {
    background-color: #0A612D;
}

.expenseTr:hover {
    background-color: #094A48;
}

td {
    border: 1px dashed #384d93;
}

.edit:hover {
    background-color: #0D1170;
    cursor: pointer;
}

.delete:hover {
    background-color: #9C1311;
    cursor: pointer;

}

.chartStyle {
    border: 5px solid #384d93;
    background-color: #108A86;
    border-radius: 10px;
    padding: 0;
}

.dateBalance {
    padding: 0;
}

.tileOptionsEdit{
    border: 5px solid #384d93;
    border-radius: 10px;
    padding: 0;
}

.editOptions{
    width: 32%;
    text-align: center;
    margin-bottom:10px;
    border: 1px solid #384d93;
    background-color: #0D1170;    
}

.deleteOptions{
    width: 32%;
    text-align: center;
    margin-bottom:10px;
    border: 1px solid #384d93;
    background-color: #9C1311;    
}

.addOptions{
    width: 32%;
    text-align: center;
    margin-bottom:10px;
    border: 1px solid #384d93;
    background-color: #219C1F;    
}

.editUser{
    text-align: center;
    margin-bottom:10px;
    border: 1px solid #384d93;
    background-color: #0D1170;    
}

.deleteUser{
    text-align: center;
    margin-bottom:10px;
    border: 1px solid #384d93;
    background-color: #9C1311;    
}

.addOptions:hover{
    background-color: #09520D;
    cursor: pointer; 
}

.editOptions:hover, .editUser:hover{
    background-color: #384d93;
    cursor: pointer;
}

.deleteOptions:hover, .deleteUser:hover{
    background-color: #BF1919;
    cursor: pointer;
}



@media (max-width: 991px) {
    table {
        font-size: 15px;
    }
}

@media (max-width: 925px) {
    .divider {
        border: none;
    }
}

@media (max-width: 768px) {

    .walletspage > p {
        text-align: left;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 24px;
    }

    .tile {
        margin-left: auto;
        margin-right: auto;
    }

    #login {
        font-size: 24px;
    }

    #logout {
        font-size: 24px;
    }

    .icon-calendar-plus-o,
    .menuButton1 {
        font-size: 20px;
    }

    .icon-calendar-minus-o,
    .menuButton2 {
        font-size: 20px;
    }

    .icon-calc,
    .menuButton3 {
        font-size: 20px;
    }

    .icon-cogs,
    .menuButton4 {
        font-size: 20px;
    }

    .icon-logout,
    .menuButton5 {
        font-size: 20px;
    }

    .quotation {
        text-align: left;
    }
}
